.nav-link {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  transition: color 0.3s ease;
}

.nav-link::before,
.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  transition: 0.3s ease;
}

.nav-link::before {
  left: 50%;
}

.nav-link::after {
  right: 50%;
}

.nav-link:hover::before,
.nav-link:hover::after {
  width: 50%;
}

.nav-pink::before,
.nav-pink::after {
  background-color: #e7ee2c;
}

.nav-blue::before,
.nav-blue::after {
  background-color: #ce1010;
}

.nav-yellow::before,
.nav-yellow::after {
  background-color: #2208e5;
}

.nav-green::before,
.nav-green::after {
  background-color: #4caf50;
}
